.card-info{
    float: left;
    display: flex;
    padding: 1rem;
    margin-left: 2%;
	
}

.card-text{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}



.card-info {
	position: relative;
	transition: transform 0.2s;
}

.card-info:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.card-info:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

